
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}
:focus {
    outline: 0 none;
}
a:active {
    outline: medium none;
}
body {
    background: none repeat scroll 0 0 white;
    color: black;
    line-height: 1;
}
ol, ul {
    list-style: none outside none;
}
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    font-weight: normal;
    text-align: left;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
body {
    background: url("../images/focus/background.png") repeat scroll center top #EFEFEF;
    color: #434343;
    font: 62.5%/1.5 Helvetica,Arial,sans-serif;
    letter-spacing: 0;
    padding: 20px 0;
    position: relative;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
#container {
    margin: 0 auto;
    padding: 10px;
    position: relative;
    width: 580px;
    z-index: 0;
}
#example {
    height: 400px;
    position: relative;
    width: 1090px;
}
#ribbon {
    left: -15px;
    position: absolute;
    top: -3px;
    z-index: 500;
}
#frame {
    height: 341px;
    left: -80px;
    position: absolute;
    top: -3px;
    width: 739px;
    z-index: 0;
}
#slides {
    left: 4px;
    position: absolute;
    top: 15px;
    z-index: 30;
}
.slides_container {
    display: none;
    overflow: hidden;
    position: relative;
    width: 1090px;
}
.slides_container div.slide {
    display: block;
    height: 400px;
    width: 1090px;
}
#slides .next, #slides .prev {
    display: block;
    height: 43px;
    left: -39px;
    position: absolute;
    top: 107px;
    width: 24px;
    z-index: 101;
}
#slides .next {
    left: 585px;
}
.pagination {
    margin: 21px auto 0;
    width: 200px;
    z-index: 101;
}
.pagination li {
    float: left;
    list-style: none outside none;
    margin: 0 1px;
}
.pagination li a {
    background-image: url("../images/focus/pagination.png");
    background-position: 0 0;
    display: block;
    float: left;
    height: 0;
    overflow: hidden;
    padding-top: 12px;
    width: 12px;
}
.pagination li.current a {
    background-position: 0 -12px;
}
.caption {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    border-top: 1px solid #000000;
    bottom: -35px;
    color: #FFFFFF;
    font-size: 1.3em;
    height: 30px;
    left: 0;
    line-height: 1.33;
    padding: 5px 20px 0;
    position: absolute;
    text-shadow: none;
    width: 540px;
    z-index: 500;
}
#footer {
    border-top: 1px solid #DFDFDF;
    margin-top: 9px;
    padding: 4.5px 0 18px;
    text-align: center;
    width: 580px;
}
#footer p {
    font-size: 1em;
    margin: 4.5px 0;
}
a:link, a:visited {
    color: #599100;
    text-decoration: none;
}
a:hover, a:active {
    color: #599100;
    text-decoration: underline;
}