1.公共部分功能点

  1）头部导航
   实现方案：用导航分类表存储，分别为1,2级分类，2级分类页面实现详见后续
  
   静态部分分为LOGO、普通html

2）底部
   底部基本为静态html

3）用户
   暂不用用户注册登录等功能

底部和顶部 通过Yii的Layout视图实现一次即可，可以节约开发成本

2.首页功能点
  
  1）顶部大图
     可能要做几个轮播的大图，要与需求方确认
  
  2）中间汽车分类
     实现方案：新建汽车分类表，存储各类别的汽车，具体字段待定
  
  3）新闻中心
     新建新闻表（具体字段待定）
  
  4）优惠活动
     可与新闻中心公用一张表，用类别字段进行区分
  
  5）最后静态图片与公司简介
     静态图片后面可能要调整，前期首先做静态，公司简介动态存储，至于图片再沟通
     2种方案（1）后天动态添加的时候 加缩略图字段（2）写成静态的

3.公司介绍导航
  
  1）公司简介，品牌历史，销售团队，联系我们，加入我们
  这几个频道都用数据库动态存储，关键点，所以一定要选好html编辑器
  
  2）其他功能
     (1)在线客服
     (2)车贷计算器
     (3)试驾申请（数据库存储，后台审核，列表以申请时间和状态排序）
     (4)新车预订（数据库存储）

4.新闻中心
  1）最新活动、优惠促销、公司新闻、行业新闻
  分析：每条记录由一张小图片、标题、简述、详情、添加时间等组成，这四个部分基本一致，
  可通过添加分类字段，来区分这四个模块，也可加 权重字段，来实现新闻或活动置顶功能
  还有状态字段。记录假删除
  
  2）衍生服务、保养讲堂
  可与新闻、活动存储一张表中，其实都由图片和文字组成，只是模板展现不同而已

  3）团购消息
  基本由图片、文字、链接，数据库简单存储

5.二手车服务
  1）二手车源、二手车置换
  一个负责展示，另一个负责输入，后台也要有人工录入的功能，另外二手车置换中
  缺少图片上传选项。这个要与对方协商
  
  2）汽车精品
  按照页面展示字段，进行后台录入，精品表存储，每个产品4个小图，4个大图

6.购车指南
  1）衍生产品
  类似公司简介等信息，直接同一张表即可

  2）新车预订
  新建数据表存储用户申请信息
  
  3）车贷计算器
  相对易车网的车贷计算器，这个简单多了，主要是js实现

7.售后服务
  1）预约试驾2）
  跟新车预订类似，可存入同一张表中

  2）保养评估
  这个跟公司简介类似，也可以直接存入简介表

8.俱乐部
  1）车主关怀
  基本跟新闻一样，也可与新闻存一张表，或单独（鉴于内容，格式稍有不同可新建表，元方，你怎么看？）

  2）车友活动、往期活动
  基本上跟前面活动一样，可存储一张表里


除了汽车展厅，基本上就这些页面了，但不要轻松，汽车展厅最后做，是因为太麻烦了，
总结以上几个页面
可以建的表结构
1.信息表
用来存储公司信息

2.新闻、活动表
用来存储既往期新闻和活动

3.申请表
试驾申请、购车申请

4.团购表
存储团购信息

5.二手车信息
存储二手车信息

6.在线客服？这个使用哪个？数据是否要存储，明天一定定下来，

最后说下时间紧迫，大家最好能上班时间也抽空做做，即便不能做闲暇找找开源插件也可以
