1.公共部分功能点

  1）头部导航
   实现方案：用导航分类表存储，分别为1,2级分类，2级分类页面实现详见后续
  
   静态部分分为LOGO、普通html

2）底部
   底部基本为静态html

3）用户
   暂不用用户注册登录等功能

底部和顶部 通过Yii的Layout视图实现一次即可，可以节约开发成本

2.首页功能点
  1）顶部大图
     可能要做几个轮播的大图，要与需求方确认
  
  2）中间汽车分类
     实现方案：新建汽车分类表，存储各类别的汽车，具体字段待定
  
  3）新闻中心
     新建新闻表（具体字段待定）
  
  4）优惠活动
     可与新闻中心公用一张表，用类别字段进行区分
  
  5）最后静态图片与公司简介
     静态图片后面可能要调整，前期首先做静态，公司简介动态存储，至于图片再沟通
     2种方案（1）后天动态添加的时候 加缩略图字段（2）写成静态的

3.公司介绍导航
  
  1）公司简介，品牌历史，销售团队，联系我们，加入我们
  这几个频道都用数据库动态存储，关键点，所以一定要选好html编辑器
  
  2）其他功能
     (1)在线客服
     (2)车贷计算器
     (3)试驾申请（数据库存储，后台审核，列表以申请时间和状态排序）
     (4)新车预订（数据库存储）

4.新闻中心
  1）最新活动、优惠促销、公司新闻、行业新闻
  分析：每条记录由一张小图片、标题、简述、详情、添加时间等组成，这四个部分基本一致，
  可通过添加分类字段，来区分这四个模块，也可加 权重字段，来实现新闻或活动置顶功能
  还有状态字段。记录假删除
  
  2）衍生服务、保养讲堂
  可与新闻、活动存储一张表中，其实都由图片和文字组成，只是模板展现不同而已

  3）团购消息
  基本由图片、文字、链接，数据库简单存储